/* ********** formand page ********** */

@media (min-width: 400px) {
  .formand-nav,
  #btn-formand-create,
  #member-search,
  #sort,
  #nav-filter,
  #nav-align {
    position: relative;
  }

  .formand-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 800px) {
  .formand-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    justify-content: center;
    justify-items: center;
  }

  #btn-formand-create,
  #member-search,
  #sort,
  #nav-filter,
  #nav-align {
    position: fixed;
  }
  #overview {
    margin-left: 20px;
  }
}

@media (min-width: 1000px) {
  .formand-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 100%;
    justify-content: center;
    justify-items: center;
  }

  #btn-formand-create,
  #member-search,
  #sort,
  #nav-filter,
  #nav-align {
    position: fixed;
  }
  #overview {
    margin-left: 20px;
  }
}

.formand-header, .kasserer-header {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
  background-color: #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-height: 120px;
  text-align: center;
  position: relative;
  background-color: #67a0d8;
  align-items: center;
  justify-content: space-between;
}

.formand-nav {
  grid-row: auto;
  grid-column: 1 / 2;
  background-color: #eee;
  padding: 25px;

  width: 100%;
  padding-top: 0;
}

.formand-table {
  grid-row: auto;
  grid-column: 2 / 7;
  background-color: #fff;
  /* padding: 10px; */
  width: 100%;
  display: grid;
  position: relative;
  text-align: left;
}

.formand-table h2 {
  text-align: center;
}

/************** main ************/

body {
  width: 100%;
  margin: 0;

  /* background-color: rgb(29, 108, 183); */
  background-color: #f3f3f3;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

hr {
  border: 1px solid black;
  /* border-top: 2px solid darkblue; */
}

/*********** front-page **************/

.front-page {
  display: grid;
  width: 100%;
  min-height: 100vh;
  gap: 0;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "contact"
    "nextUp"
    "lastTime"
    "footer";
}

@media (min-width: 550px) {
  .front-page {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "contact nextUp lastTime"
      "footer footer footer";
  }
}

@media (min-width: 900px) {
  .front-page {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "contact nextUp lastTime"
      "footer footer footer";
  }
}

.front-page header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-height: 120px;
  text-align: center;
  position: relative;
  background-color: #67a0d8;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
}

#btn-logIn {
  position: relative;
  justify-self: end;
  margin: 10px;
  width: 15vw;
  max-width: 100px;
  max-height: 40px;
  border: 2px solid #1d558e;
  height: 7vw;
  background-color: rgb(29, 108, 183);
  right: 0px;
}

#logo {
  position: relative;
  width: 40%;
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
  /* border: 2px solid black; */
  /* background-color: white; */
  /*img source: https://www.rawpixel.com/image/6791666 */
}

.front-page article {
  border: 3px solid #4981b9;
  padding: 5px;
  position: relative;
  background-color: #a3bfdc;
  margin: 10px;
}

#fp-contact {
  grid-area: contact;
  /* margin-left: 10px; */
}

#fp-nextUp {
  grid-area: nextUp;
}

#fp-lastTime {
  grid-area: lastTime;
  /* margin-right: 10px; */
}

.front-page footer {
  grid-area: footer;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  max-height: 100px;
  background-color: #67a0d8;
}

/*********** login-page **************/

#brugernavn,
#kodeord {
  width: 15em;
}

/*********** front-page **************/
#sort,
#nav-filter,
#member-search {
  width: 12em;
  background-color: #a3bfdc;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(118, 118, 118);
}

.nav label {
  margin-left: 20px;
}

/* STUFF FOR THE SPA: */

section.page-view {
  display: none;
}

section.active#front-page {
  display: grid;
  /* padding: 2em;
  margin: 2em; */
}

section.active#formand {
  background-color: grey;
  display: grid;
  /* width: 100%; */
}

section.active#log-in {
  display: grid;
  padding: 2em;
  margin: 2em;
}

section.active#kasserer {
  display: grid;
  padding: 2em;
  margin: 2em;
}

section.active#trainer {
  display: grid;
  font-size: 300px;
  padding: 2em;
  margin: 2em;
}

.highlighted {
  background-color: red;
}

#failedNotifikation {
  position: fixed;
  font-size: large;
  top: 85%;
  right: 40%;
  padding: 25px;
  background-color: #e74c3c;
  color: #fff;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

#successNotifikation {
  position: fixed;
  font-size: large;
  top: 85%;
  right: 40%;
  padding: 25px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

/* ************* create member form*********** */

#form-create-member {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* ************* update member form*********** */

#formand-form-update-member2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* DIALOG */

dialog {
  background-color: #67a0d8;
}

:required {
  border: 2px solid green;
}

form {
  color: rgb(205, 177, 50);
  margin: 1.2em;
  padding: 1em;
  /* display: grid; */
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  gap: 2px;
  font-size: 20px;
}

label {
  float: left;
  clear: both;
}

input {
  background-color: rgb(211, 204, 204);
  float: left;
  clear: both;
}

.submit {
  margin: 1em;
  background-color: rgb(98, 190, 181);
  border: 2px black solid;
  border-radius: 4px;
}

field.form-text {
  display: grid;
  background-color: teal;
}

field.form-button {
  display: flex;
  background-color: teal;
  justify-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

/* TABLE STUFF */
/* source: https: //www.w3.org/Style/Examples/007/evenodd.en.html */

table,
tr {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #a3bfdc;
}

tr:nth-child(odd) {
  background-color: #1d568e;
  color: white;
}

th {
  background-color: #67a0d8;
  padding: 2mm;
  color: black;
}

td {
  padding: 5mm;
}

#btn-formand-create,
#member-search,
#sort,
#nav-filter,
#nav-align {
  /* position: fixed; */
  width: 12em;
  margin-left: 20px;
  left: 0;
}

.buttonAni {
  background-color: #a6c1db;
  border-width: 2px;
  border-style: outset;
  border-color: rgb(56, 107, 184);
  box-shadow: 2px 2px 2px #1d558e;
}

.buttonAni:hover {
  background-color: #b8d5f4;
  border-width: 2px;
  border-style: outset;
  border-color: rgb(97, 132, 184);
  box-shadow: 2px 2px 6px #6e88a3;
}

tr:nth-child(even):hover {
  transform: scale(1.02);
  background-color: #9ac3ef;
}

tr:nth-child(odd):hover {
  transform: scale(1.02);
  background-color: #3a7bbc;
}

#thh:hover {
  border: none;
  box-shadow: none;
  transform: none;
}

#overview h3 {
  margin: 0;
}

.red {
  background-color: red;
}