.link-content {
  display: none;
}

.hidden {
  display: none;
}

section.active {
  display: block;
  padding: 2em;
  margin: 2em;
}

body {
  background-color: teal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
